//Paragraph & Titles
$base-paragraph: Arial, Helvetica, sans-serif;
$base-heading: Arial, Helvectica, sans-serif;

//Colors
$font-color: #575153;
$primary-color: #00c8c8;
$darkgrey: #333333;
$lightgrey: #f8f8f8;
$primary-bg: #fff;


body {
    font-family: $base-paragraph;
}