//Paragraph & Titles
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');
$base-paragraph: 'Montserrat', sans-serif;
$base-heading: 'Roboto', sans-serif;

//Colors
$font-color: #575153;
$primary-color: #00c8c8;
$darkgrey: #333333;
$lightgrey: #f8f8f8;
$primary-bg: #fff;


